#title {
  color: red;
  margin: 0 auto;
  text-align: center;
}

#potato {
  color: green;
}

#tomato {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10%;
}
